<form class="login">
  <h1>TechTalk</h1>
  <div class="input-container">
    <h3>Username</h3>
    <input class="username-login" type="text" required>
  </div>
  <div class="input-container">
    <h3>Password</h3>
    <input class="password-login" type="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<script src="/js/login.js"></script>



   
