<form id="login">
  <h1>TechTalk</h1>
  <div class="input-container">
    <h3>Username</h3>
    <input id="username-login" type="text" required>
  </div>
  <div class="input-container">
    <h3>Password</h3>
    <input id="password-login" type="password" required>
  </div>
  <button type="submit">Login</button>
</form>


   
