<form class="register">
  <h1>TechTalk</h1>
  <div class="input-container">
    <h3>Username</h3>
    <input type="text" class="username-register" required>
  </div>
  <div class="input-container">
    <h3>Password</h3>
    <input type="password" class="password-register" required pattern=".{8,}" title="Password must be at least 8 characters long">
  </div>
  <div class="input-container">
    <h3>Confirm Password</h3>
    <input type="password" class="password-confirm" required pattern=".{8,}" title="Password must be at least 8 characters long">
  </div>
  <button type="submit">Register</button>
</form>
<script src="/js/register.js"></script>
