<!DOCTYPE html>
<html lang="en">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  <title>WearMe</title>
</head>
  <body>
    {{{body}}}
    <footer>
      <h2>Made with 游비 by Group 7</h2><br>
      <h2>游비Gale 游비Michael 游비Ethan 游비Jean 游비Sunny 游비Cody</h2>
    </footer>
  </body>
  <script src="/js/login.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/logout.js"></script>
</html>