<div id="auth">
  <nav>
    <h1>TechTalk</h1>
    <div id="nav-links">
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
    </div>
  </nav>
  <div id="form-container"> 
    {{> (lookup . 'partial') }}
  </div>
</div>