<div id="home">
  <nav>
    <h1>TechTalk</h1>
    <div>
      <a href="/home">Home</a>
      <a href="/home/dashboard">Dashboard</a>
      <button id="logout" type="button">Logout</button>
    </div>
  </nav>
  {{> (lookup . 'partial') }}
</div>
<script src="/js/logout.js"></script>
