<div id="home">
  <nav>
    <h1 class="logo">TechTalk</h1>
    <a href="/home">Home</a>
    <a href="/home/dashboard">Dashboard</a>
    <button id="logout" type="button">Logout</button>
  </nav>
  {{> (lookup . 'partial') }}
</div>