<div id="register" class="auth">
  <form id="register-form">
    <h1>Welcome!</h1>
    <div class="input-container">
      <h2>Email</h2>
      <input type="email" id="email-register" required>
    </div>
    <div class="input-container">
      <h2>Username</h2>
      <input type="text" id="username-register" required>
    </div>
    <div class="input-container">
      <h2>Password</h2>
      <input type="password" id="password-register" required>
    </div>
    <div class="input-container">
      <h2>Confirm Password</h2>
      <input type="password" id="password-confirm" required>
    </div>
    <button type="submit">Register</button>
    <a href="/auth/login">Already have an account?</a>
  </form>
</div>


   
