*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

nav {
	background-color: #333;
	color: #fff;
	width: 100vw;
	height: 100px;
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav div {
	display: flex;
	align-items: center;
	gap: 25px;
}

a {
	color: #fff;
	text-decoration: none;
}

#login, #register {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

form {
	background-color: #333;
	color: #fff;
	width: 500px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	border-radius: 5px;
}

.input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

form input {
	width: 100%;
	height: 50px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

form button {
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: lightgray;
	color: #333;
	font-weight: bold;
	cursor: pointer;
	font-size: large;
	margin-top: 25px;
}